#Python Dictionary and Set Exercises

###Dictionary Exercises

1. Sort a Dictionary by Value

Write a Python script to sort (ascending and descending) a dictionary by value.

In [22]:
data = {'apple': 10, 'banana': 5, 'cherry': 20, 'date': 15}

ascending = dict(sorted(data.items(), key=lambda item: item[1]))
print("Ascending:", ascending)

descending = dict(sorted(data.items(), key=lambda item: item[1], reverse=True))
print("Descending:", descending)

Ascending: {'banana': 5, 'apple': 10, 'date': 15, 'cherry': 20}
Descending: {'cherry': 20, 'date': 15, 'apple': 10, 'banana': 5}

2. Add a Key to a Dictionary

Write a Python script to add a key to a dictionary.

Sample Dictionary:

`{0: 10, 1: 20}`

Expected Result:

`{0: 10, 1: 20, 2: 30}`

In [17]:
my_dic= {0: 10, 1: 20}
print(my_dic)

my_dic[2]= 30

print(my_dic)

{0: 10, 1: 20}
{0: 10, 1: 20, 2: 30}

3. Concatenate Multiple Dictionaries

Write a Python script to concatenate the following dictionaries to create a new one.

Sample Dictionaries:

`dic1 = {1: 10, 2: 20}`

`dic2 = {3: 30, 4: 40}`

`dic3 = {5: 50, 6: 60}`

Expected Result:

`{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}`

In [16]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

my_dic= {}

my_dic.update(dic1)
my_dic.update(dic2)
my_dic.update(dic3)

print(my_dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

4. Generate a Dictionary with Squares

Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).

Sample Dictionary (n = 5):

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [23]:
n= int(input("Enter n:\n>>"))
my_dict= {}

for i in range(1, n+1):
  my_dict[i]= i**2

print(my_dict)

Enter n:
>>7
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

5. Dictionary of Squares (1 to 15)

Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

Expected Output:

`{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}`

In [24]:
my_dict= {}

for i in range(1, 16):
  my_dict[i]= i**2

print(my_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

#Set Exercises

1. Create a Set

Write a Python program to create a set.

In [25]:
my_set = {1, 2, 1, 4, 5, 2, 20, 20, 20}
print(my_set)

my_list = [1, 2, 1, 4, 5, 2, 20, 20, 20]
my_set = set(my_list)
print(my_set)

{1, 2, 4, 5, 20}
{1, 2, 4, 5, 20}

2. Iterate Over a Set

Write a Python program to iterate over sets.

In [7]:
my_set = {1, 2, 1, 4, 5, 2, 20, 20, 20}
print(my_set)

for value in my_set:
  print(value)

{1, 2, 4, 5, 20}
1
2
4
5
20

3. Add Member(s) to a Set

Write a Python program to add member(s) to a set.

In [26]:
my_set = {1, 2, 1, 4, 5, 2, 20, 20, 20}
print(my_set)

my_set.add(6)
print(my_set)

my_set.add(12)
print(my_set)

my_set.update([6, 12, 23, 15])

my_set.add(23)
print(my_set)

my_set.add(6)
print(my_set)

my_set.add(15)
print(my_set)

{1, 2, 4, 5, 20}
{1, 2, 4, 5, 20, 6}
{1, 2, 4, 5, 20, 6, 12}
{1, 2, 4, 5, 6, 12, 15, 20, 23}
{1, 2, 4, 5, 6, 12, 15, 20, 23}
{1, 2, 4, 5, 6, 12, 15, 20, 23}

4. Remove Item(s) from a Set

Write a Python program to remove item(s) from a given set.

In [21]:
my_set = {1, 2, 1, 4, 5, 2, 20, 20, 20, 23, 6, 43, 6, 5}
print(my_set)

my_set.remove(2)
print(my_set)

my_set.discard(3)
print(my_set)

my_set.discard(2)
print(my_set)

my_set.clear()
print(my_set)

{1, 2, 4, 5, 6, 43, 20, 23}
{1, 4, 5, 6, 43, 20, 23}
{1, 4, 5, 6, 43, 20, 23}
{1, 4, 5, 6, 43, 20, 23}
set()

5. Remove an Item if Present in the Set

Write a Python program to remove an item from a set if it is present in the set.

In [6]:
my_set = {1, 2, 1, 4, 5, 2, 20, 20, 20}
print(my_set)

my_set.discard(2)
print(my_set)

my_set.discard(3)
print(my_set)

{1, 2, 4, 5, 20}
{1, 4, 5, 20}
{1, 4, 5, 20}