#Homeworks

###1. Modify String with Underscores

Given a string txt, insert an underscore (_) after every third character. If a character is a vowel or already has an underscore after it, shift the underscore placement to the next character. No underscore should be added at the end.

Examples
Input: `hello` Output: `hel_lo`

Input: `assalom` Output: `ass_alom`

Input: `abcabcabcdeabcdefabcdefg` Output: `abc_abcab_cdeabcd_efabcdef_g`

In [2]:
txt = "abcabcabcdeabcdefabcdefg"

vowels = "aeiou"
result = ""

i = 0
count = 0   # count normal characters (not including underscores)

while i < len(txt):
    ch = txt[i]
    result += ch
    count += 1

    # When count reaches 3, decide underscore placement
    if count == 3:
        place_shift = 0

        # If this (3rd) character is vowel → shift 1 char forward
        if ch in vowels:
            place_shift = 1

        # If next char is underscore → shift
        elif i + 1 < len(txt) and txt[i+1] == "_":
            place_shift = 1

        # Place underscore only if not at end
        if i + place_shift + 1 < len(txt):
            result += "_"
            count = 0   # reset after underscore placement
        else:
            count = 0   # still reset, but no underscore added

    i += 1

print(result)

abc_abc_abc_dea_bcd_efa_bcd_efg

###2. Integer Squares Exercise
Task
The provided code stub reads an integer, `n`, from STDIN. For all non-negative integers `i` where `0 <= i < n`, print `i^2`.

Example Input
`5`

Example Output

`0`

`1`

`4`

`9`

`16`

Input Format

The first and only line contains the integer, n.

Constraints

`1 <= n <= 20`

Output Format

Print n lines, one corresponding to each `i^2` where `0 <= i < n`.

In [ ]:
number = int(input("Enter a number: "))

for i in range(number):
  print(i**2)

Enter a number: 5
0
1
4
9
16

##3. Loop-Based Exercises

###Exercise 1: Print first 10 natural numbers using a while loop

In [ ]:
number= 1

while number<= 10:
  print(number)
  number +=1

1
2
3
4
5
6
7
8
9
10

###Exercise 2: Print the following pattern
`1`

`1 2`

`1 2 3`

`1 2 3 4`

`1 2 3 4 5`

In [ ]:
start= 1
finish= 5
my_str=str(start)

while start<=finish:
  print(my_str)
  start+= 1
  my_str = my_str + " " + str(start)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

###Exercise 3: Calculate sum of all numbers from 1 to a given number

Example:

`Enter number 10`

`Sum is: 55`

In [ ]:
start= 1

finish= int(input("Enter n "))

sum=0

for i in range(start, finish + 1):
  sum+= i

print(f"Sum is: {sum}")

Enter n 10
Sum is: 55

###Exercise 4: Print multiplication table of a given number
Example:

`2`

`4`

`6`

`8`

`10`

`12`

`14`

`16`

`18`

`20`

In [ ]:
given_list= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in given_list:
  print(i*2)

2
4
6
8
10
12
14
16
18
20

###Exercise 5: Display numbers from a list using a loop
Given:

`numbers = [12, 75, 150, 180, 145, 525, 50]`

Expected Output:

`75`

`150`

`145`

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for num in numbers:
    if num > 500:
        break
    if num > 150:
        continue
    if num % 5 == 0:
        print(num)

75
150
145

###Exercise 6: Count the total number of digits in a number

Example:

`75869`

`Output: 5`

In [ ]:

number= int(input("Enter a number: "))
total_digits=0

while number>=1:
  total_digits+=1
  number/=10

print(f"Output: {total_digits}")

Enter a number: 75869
Output: 5

###Exercise 7: Print reverse number pattern
`5 4 3 2 1`

`4 3 2 1`

`3 2 1`

`2 1`

`1`

In [ ]:
number = int(input("Enter a number: "))

while number>0:
    my_str= ""
    for i in range(number):
      my_str = my_str + " " + str(number - i)
    print(my_str)
    number-=1

Enter a number: 8
 8 7 6 5 4 3 2 1
 7 6 5 4 3 2 1
 6 5 4 3 2 1
 5 4 3 2 1
 4 3 2 1
 3 2 1
 2 1
 1

###Exercise 8: Print list in reverse order using a loop
Given:

`list1 = [10, 20, 30, 40, 50]`

Expected Output:

`50`

`40`

`30`

`20`

`10`

In [ ]:
list1 = [10, 20, 30, 40, 50]

ind = len(list1) - 1

while ind>-1:
  print(list1[ind])
  ind-= 1

50
40
30
20
10

###Exercise 9: Display numbers from -10 to -1 using a for loop

`-10`

`-9`

`-8`

`-7`

`-6`

`-5`

`-4`

`-3`

`-2`

`-1`

In [ ]:
start= -10
finish= -1

for i in range(start, finish + 1):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

###Exercise 10: Display message “Done” after successful loop execution

Example:

`0`

`1`

`2`

`3`

`4`

`Done!`

In [ ]:
for i in range(5):
  print(i)

print("Done!")

0
1
2
3
4
Done!

###Exercise 11: Print all prime numbers within a range
Example:

Prime numbers between `25` and `50`:

`29`

`31`

`37`

`41`

`43`

`47`

In [ ]:
start= int(input("Enter a start number: "))
finish= int(input("Enter a finish number: "))

for i in range (start, finish + 1):
  total= 0
  for j in range(1, i+1):
    if i%j==0:
      total+= 1
  if total==2:
    print(i)

Enter a start number: 20
Enter a finish number: 40
23
29
31
37

###Exercise 12: Display Fibonacci series up to 10 terms
Example:

Fibonacci sequence:

`0  1  1  2  3  5  8  13  21  34`

In [ ]:
fibonacci= [0, 1]
ind= 2
fib_num= fibonacci[ind-1]

while ind < 10:
  fibonacci.append(fib_num)
  fib_num= fibonacci[ind-1] + fibonacci[ind]
  ind+=1

print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

###Exercise 13: Find the factorial of a given number

Example:

`5! = 120`

In [ ]:
number= int(input("Enter a number: "))
factorial= 1

for i in range(1, number + 1):
  factorial*= i

print(f"{number}! = {factorial}")

Enter a number: 5
5! = 120

###4. Return Uncommon Elements of Lists
Task
Return the elements that are not common between two lists. The order of elements does not matter.

Examples

Input: `list1 = [1, 1, 2]`, `list2 = [2, 3, 4]`

Output: `[1, 1, 3, 4]`

Input: `list1 = [1, 2, 3]`, `list2 = [4, 5, 6]`

Output: `[1, 2, 3, 4, 5, 6]`

Input: `list1 = [1, 1, 2, 3, 4, 2]`, `list2 = [1, 3, 4, 5]`

Output: `[2, 2, 5]`

In [ ]:
list1 = [1, 1, 2]
list2 = [2, 3, 4]

list3= []
for i in list1:
  if i not in list2:
    list3.append(i)

for i in list2:
  if i not in list1:
    list3.append(i)
print("Input: ", list1, ", ", list2)
print(f"Output: {list3}")


list1 = [1, 2, 3]
list2 = [4, 5, 6]

list3= []
for i in list1:
  if i not in list2:
    list3.append(i)

for i in list2:
  if i not in list1:
    list3.append(i)

print("Input: ", list1, ", ", list2)
print(f"Output: {list3}")

list1 = [1, 1, 2, 3, 4, 2]
list2 = [1, 3, 4, 5]

list3= []
for i in list1:
  if i not in list2:
    list3.append(i)

for i in list2:
  if i not in list1:
    list3.append(i)

print("Input: ", list1, ", ", list2)
print(f"Output: {list3}")

Input:  [1, 1, 2] ,  [2, 3, 4]
Output: [1, 1, 3, 4]
Input:  [1, 2, 3] ,  [4, 5, 6]
Output: [1, 2, 3, 4, 5, 6]
Input:  [1, 1, 2, 3, 4, 2] ,  [1, 3, 4, 5]
Output: [2, 2, 5]